* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}
.header {
  background-image: url(../imeges/beach.jpg);
  min-height: 100vh;
  padding: 30vh 20px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  font-size: 27px;
  line-height: 1.2;
  color: #926239;
  background-color: white;
}
.section{
  background-color: #926239;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 1.6;
  padding: 20px;
}
.btn {
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #926239;
  color: #926239;
  font-size: 17px;
  margin: 25px;
}
.btn:hover {
  background-color: #926239;
  color: white;
}
.small-section {
  display: inline-block;
  width: 33vw;
  text-align: left;
}
.section-alt-color {
  color: #926239;
  background-color: white;
}