
.chess{
  width: 600px;
  height: 600px;
  box-sizing: border-box;
font-size: 0;
}
.box{
  width: 200px;
  height: 200px;
  display: inline-block;
}
 .w {
  background-color: aliceblue;
}
.b{
  background-color: black;
}