.mouse,
.box{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top:-59px;  
}
.relative {
  position: relative;
  width: 300px;
  height: 300px;
  left: 450px;
  top: 170px;
}
.absolute-1 {
  left: -91px;


}
.absolute-2 {
  right: -91px;
}
