table{
  border-collapse: collapse;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
td,
th{
  padding: 13px;
  vertical-align: middle;
}
tbody th{
  text-align: left;
}
.head{
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.th-col-1{
background-color: rgb(138,180,248);
}
.th-col-2{
  background-color: rgb(113, 152, 214);
}
.th-col-3{
  background-color: rgb(78, 110, 161);;
}
.th-col-4{
  background-color: rgb(36, 72, 126);;
}
.th-col-5{
  background-color: rgb(16, 47, 95);;
}

.color:nth-child(2n+1){
  background-color: rgb(135, 123, 123);
}
.color:nth-child(even){
  background-color: rgb(228, 207, 207);
}
.grey:nth-child(odd){
  background-color: rgb(228, 207, 207);
}

button{
  background-color: rgb(224, 220, 220);
  padding: 10px 25px;
  border: 1.5px solid rgb(167, 165, 165);
}
tr>th>span{
  font-size: 40px;
line-height: 1.5;
}
.start:hover{
  color: gold;
  background-color: rgb(67, 60, 60);
}