* {
  box-sizing: border-box;
}
.article {
  margin: 20px auto;
  padding: 20px 20px 20px 30px;
  width: 100%;
  max-width: 450px;
  min-width: 300px;
  border: 1px solid rgb(158, 153, 153);
  color: rgb(137, 126, 126);
  background-color: rgba(235, 235, 235, 0.961);
  font-size: 18px;
}
.form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid rgb(186, 183, 183);
}
.title::after,
.title::before {
  content: "";
  width: 30%;
  border-bottom: 1.7px solid rgb(14, 13, 13);
  position: absolute;
  top: 15px;
  }
.title::before {
  left: 0;
}
.title::after {
  right: 0;
  }
.accept {
  color: rgb(115, 148, 115);
  text-decoration: none;
}
.one-line {
  display: grid;
  grid-template-columns: 46% 46%;
    gap: 8%;
}
.button {
  background-color: rgb(100, 180, 100);
  border-radius: 10px;
  border: none;
  margin: 8px 0 25px 0;
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
}
.label {
  display: flex;
  align-items: flex-start;
  margin-left: -2px;
  gap: 5px;
}
