@media screen {
  .title {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 0 15px 0;
    color: rgb(83, 78, 78);
    position: relative;
    }
  .header-text {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 18px;
  }
}
@media print{

  .title{
color: brown;
font-family: Georgia, 'Times New Roman', Times, serif;
  }
}
@media (max-width:500px) {
  .header{
    background-color: aquamarine;
  }
}